.code-block {
  padding-left: 20px;
}

.def-py {
  color: green;
}

.py-dev-block {
  height: 40px;
  line-height: 40px;
}

.py-dev-block > img, .py-dev-block > span {
  display: inline-block;
  vertical-align: middle;
}
